body{
   
    background: rgba(116, 36, 36, 0.582);
    background-size: cover;
    background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp3665696.jpg");

}

form{
    background-image: linear-gradient(rgba(245, 46, 11, 0.466), rgba(247, 243, 60, 0.692));
    text-align: center;
    box-sizing: border-box;
    box-shadow: rgb(61, 34, 34) 2px 3px 10px;
    border: 5px black solid;
    border-radius: 16px;
    width: 500px;
    margin: 3% 35%;
}
h1{
font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
   text-align: center;
   font-variant:small-caps;
}
input , select{
    outline: none;
    border: 2px black solid;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    width: 55%;
    height: 30px;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.384);
    
} 
select{
    width: 58%;
    height: 43px;
}

#sub {
    padding: 6px;
    width: 20%;
    height: 40px;
} 
#sub:hover{
    transition: 0.5ms ease-in-out linear ;
  transform: translateY(-3px);
 box-shadow: black 6px 4px 8px;
}
aside{
    float: right;
    margin-top: 20px;

   
}
aside img{
    margin-left: -600px;
}

@media screen and (max-width: 320px) {
    aside{
        display: none;
    }
    body{
          margin: 0;
    }
    form{
        margin: 10% 2%;
        width: 300px;
    }
    select{
        width: 75%;
    }
    h1{
        font-size: 25px;
    }
    select{
        width: 58%;
    }
    #sub {
        padding: 4px;
        width: 22%;
        height: 40px;
    } 
    #sub:hover{
        transition: 0.5ms ease-in-out linear ;
      transform: translateY(-3px);
     box-shadow: black 6px 4px 8px;
    }
}